*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font: normal bold 16px "Monoton", sans-serif;
}

/* Bootstrap classes overrides */

.button {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer !important;
}

.container {
  border: none !important;
}

/* Custom classes */

.project-card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 90px;
  transform: scale(1.0125);
}

.project-card-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s, text-decoration 0.2s;
}

.project-card-link:hover {
  color: #0063cd;
  text-decoration: underline;
}

.link {
  color: #0063cd; 
  font-size: 18px;
}

.sub-skills {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in;
}

.sub-skills.show {
  max-height: 500px;
  opacity: 1;
}

.title {
  font-weight: bold;
  font-size: 24px;
}
