div.box {
    align-items: center;
    width: 480px;
    height: auto;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    margin-bottom: 2rem;
    transition: box-shadow 0.3s;
}

div.box:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 30px 90px;
}

div.transparent-card {
    height: 260px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}